.container{
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    height: 300px;
    justify-content: space-between;
    /* align-items: baseline; */
    align-content: space-evenly;
}

.item{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.item-1{
    /* padding-top: 30px; */
    order: -2;
}

/* .item-2{
    padding-top: 50px;
} */

.item-10{
    order: -1;
}
.item{
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
}

/* .item-7{
    flex-grow: 2;
}
.item-8{
    flex-grow: 1;
} */
