.storyImage{
    height: 100px;
}

/* 1. DESCENDANT SELECTOR */
.container .storyHeading h1{
    color: rgb(47, 108, 179);
}

/* COMBINATORS */
/* 1. > Immediate Child */
/* 2. + Immediate Sibling */
/* 3. ~ General Sibling */

ul>li{
    color: orange;
}

/* li+li{
    background-color: purple;
} */

li~li{
    background-color: purple;
}

