<nav class="navbar">
    <a href="/">
        <div class="nav-item nav-logo"></div>
    </a>
    <div class="nav-item nav-search">
        <input class="nav-input" type="text" placeholder="Search CodingBlocks.in">
        <div class="search-icon">🔍</div>
    </div>
    <div class="nav-item nav-cart">Cart
        <div class="cart-number"></div>
    </div>
    {{#if isLoggedIn}}
    <div class="nav-item nav-logout">
        <a href="/logout">Logout</a>
    </div>
    <div class="nav-item">
        <a href="/profile">Profile</a>
    </div>
    {{else}}
    <div class="nav-item nav-logout">
        <a href="/signin">Login</a>
    </div>
    {{/if}}

    {{#if isAdmin}}
    <div class="nav-item">
        <a href="/admin/addproduct">Add Product</a>
    </div>
    <div class="nav-item">
        <a href="/admin/products">Products List</a>
    </div>
    {{else}}
    <div class="nav-item">
        <a href="/products">Products List</a>
    </div>
    {{/if}}

</nav>