<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I am HBS FILE</h1>

    <p>{{fname}} {{lname}}</p>
    
    <ul class="list">
    
    {{#each todos as |t|}}
        <li class="listItem">{{t}}</li>
    {{/each}}
    
    </ul>
    
</body>
</html>