.box{
    width: 80%;
    height: 50px;
    border: 5px solid black;
    margin: 50px auto;
}

/* USING TRANSITION */
/* .box:hover .slider{
    width: 100%;
}
.slider{
    width: 0%;
    height: 100%;
    background-color: orange;
    transition-duration: 2s;
} */
/* USING TRANSITION */

.slider{
    width: 0%;
    height: 100%;
    background-color: orange;
    /* animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; */
    /* animation: 5s slide 5s ease-in-out forwards; */
}

/* @keyframes slide{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
} */

@keyframes slide{
    0%{
        width: 0%;
    }
    20%{
        width: 30%;
    }
    25%{
        width: 32%;
    }
    30%{
        width: 37%;
    }
    80%{
        width: 70%;
    }
    100%{
        width: 100%;
    }
}