<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    {{> navbar}}

    <div class="container">
        <h1>Welcome to Admin's Product List</h1>

        {{#each products as |p|}}
            Name: {{p.name}} <br>
            Price: {{p.price}} <br>
            Description: {{p.description}} <br>
            <img src={{p.image}}>
        {{/each}}

    </div>
</body>

</html>