.img{
    /* border: 1px solid orange; */
    width: 30%;
}

.description{
    /* border: 1px solid red; */
    width: 63%;
}
/* 
.parent{
    border: 1px solid green;
    background-color: hotpink;
} */

.parent{
    height: 200px;
}

/* FLOAT PROPERTY */
.img{
    float:left;
    background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 0%;
    height: 100%;
}

.description{
    float: right;
}

.clearfix{
    clear: both;
}

/* CLEAR FIX WAY-2 */
.parent::after{
    content: "";
    display: block;
    clear: both;
}

.parent{
    border: 1px solid black;
}