.productInput{
    font-size: 30px;
    width: 90%;
    padding: 2px;
    margin: 10px 0;
}

.addProductBtn{
    font-size: 30px;
    width: 330px;
    color: white;
    background-color: black;
    border: 0px;
    padding: 3px;
    border-radius: 25px;
}

.addProductBtn:hover{cursor: pointer;}

.productForm{
    margin: 40px 0;
    margin-bottom: 400px;
}