<nav class="navbar">
    <a class="nav-item" href="/app/">HOME</a>
    <a class="nav-item" href="/admin/add-product">Add Product</a>
    <a class="nav-item" href="/admin/products">Edit Products</a>
    <a class="nav-item" href="/app/products">Products</a>
    <a class="nav-item" href="/admin/products">Admin Products</a>
</nav>