<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    
    <h1>Welcome to App</h1>

    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/auth/facebook">Login Via FB</a>
    <a href="/auth/google">Login via Google</a>

</body>
</html>