<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

    <h1>Welcome to Signup Page</h1>

    <form action="/signup" method="POST">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="password">

        <button type="submit">Signup</button>
    </form>

    Existing User?
    <a href="/login">Login</a> instead
    
</body>
</html>