<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    {{msg}}    
    <h1>Login!</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" value="{{username}}">
        <input type="password" name="password" placeholder="Password" value="{{password}}">

        <button type="submit">Login</button>
    </form>

    <a href="/signup">Signup First</a> <br><br>

</body>
</html>